/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #345995;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

#awards {
    background-color: #f5f5f5;
}

.awards-list {
    list-style: none;
    padding: 0;
}

.awards-list li {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;}

footer {
    background-color: #345995;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* Add this to your existing CSS */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077B5; /* LinkedIn blue color */
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.about-text {
    align-self: center;
    margin-left: 30px;
}
.about-text h1 {
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about-image {
        flex: 1;
        margin-left: 20px;
    }

    .about-text {
        flex: 2;
    }
}
